// SLIDE
.animation-slide { visibility: visible !important; @include animation-name(animation-slide); @include animation-duration(1s); @include keyframes(animation-slide);  }

@include keyframes(animation-slide) {
  0% {
    @include opacity(0);
    @include translateY(10%);
  }
  100% {
    @include opacity(1);
    @include translateY(0%);;
  }
}

// FADE
.animation-fade-in { visibility: visible !important; @include animation-name(animation-fade-in); @include animation-duration(1s); @include keyframes(animation-fade-in); }

@include keyframes(animation-fade-in) {
  0% {
    @include opacity(0);
  }
  100% {
    @include opacity(1);
  }
}

// SCALE
.animation-scale { visibility: visible !important; @include animation-name(animation-scale); @include animation-duration(1s); @include keyframes(animation-scale); }

@include keyframes(animation-scale) {
  0% {
    @include opacity(0);
    @include scale(.8);
  }
  100% {
    @include opacity(1);
    @include scale(1);
  }
}

// PROGRESSBAR SCALE
.animation-progress-bar-scale { visibility: visible !important; @include animation-name(animation-progress-bar-scale); @include animation-duration(1s); @include keyframes(animation-progress-bar-scale); }

@include keyframes(animation-progress-bar-scale) {
  0% {
    @include translateX(-100%);
  }
  100% {
    @include translateX(0%);
  }
}
