////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 1200px and more
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: 1200px ) {
  .background { -webkit-backface-visibility: hidden; }
  .progress { -webkit-backface-visibility: hidden;
    .progress-bar { -webkit-backface-visibility: hidden;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 992px - 1199px
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: 992px) and (max-width: 1199px) {
  .background {
      img { height: inherit; max-width: inherit; left: 0; width: inherit; }
  }
  .our-works {
    h2 { margin-bottom: 10px; }
    .navigation-pills { display: block; float: none; margin-bottom: 20px; margin-top: 0px;  }
  }
  .progress-bars {
    .progress-bar-wrapper {
      .percents { font-size: 60px !important; left: 15px; top: 15px; }
    }
  }
  .member {
    .photo { height: 200px;
      .background { height: 210px; }
    }
    .name { padding-top: 5px;
      h4 { font-size: 22px; }
    }
  }
  .number-wrapper {
    .number {
      .title { font-size: 30px; }
      .description { font-size: 14px; }
    }
  }
  //.parallax-slider { height: 580px !important; }
  .price-box {
    .title {
      h3 { font-size: 28px; }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 768px - 979px
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: 768px) and (max-width: 991px) {
  .background {
    img { height: inherit; max-width: inherit; left: 0; width: initial; }
  }
  .block {
    .block-wrapper {
      .background { top: -60px !important;
        img { @include transform(skew(0deg,4deg) scale(1.5)); }
      }
      .content { padding: 0 0 100px 0; }
    }
  }
  blockquote { padding: 0 20px 0 20px !important;
    p { font-size: 20px !important; line-height: 26px !important; }
  }

  .gallery-item { margin-bottom: 30px;
    h4 { font-size: 14px !important; }
    .sub-title { font-size: 12px !important; }
  }
  .feature {
    h2 { font-size: 34px; }
    h3 { font-size: 24px; }
  }
  .navigation {
    &:after { height: 110px; }
    .navbar {
      nav { float: left !important; margin: 0px !important; padding: 0px; }
      .navbar-brand { max-width: 100%; }
      .navbar-nav {
        li {
          a { font-size: 12px; margin-top: 0 !important; padding-top: 5px; }
        }
      }
    }
  }
  .member {
    .photo {
      .background {
        img { height: 345px !important; width: 100%;}
      }
    }
  }
  .our-works {
    h2 { margin-bottom: 10px; }
    .navigation-pills { display: block; float: none; margin-bottom: 20px; margin-top: 0px;  }
  }

}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// max to 767px
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 767px) {
  h2 { display: block; font-size: 42px !important; margin-bottom: 20px !important; }
  h3 { font-size: 24px !important; }
  //.background { margin-top: 40px; }

  .block {
    .block-wrapper {
      .background { top: -40px !important; }
      .content { padding: 0 0 100px 0; }
    }
  }
  blockquote {
    p { font-size: 18px !important; line-height: 24px !important; }
  }
  .blog {
    .comments {
      .comments-list {
        .children { margin-left: 40px !important; }
      }
    }
    .post {
      .post-tag {
        span { display: none; }
      }
    }
  }
  .blog-grid {
    .blog-post { margin-bottom: 20px;
      .content { padding: 20px; }
      img { width: 100% !important; }
    }
  }
  .footer {
    .address { margin-top: 70px; }
  }
  .fullwidthbanner { height: 500px !important; }
  .fullwidthbanner-container {
    ul {
      li {
        .caption {
          img { height: 100% !important;  //width: 100% !important
          }
        }
      }
    }
    .tparrows { bottom: 35px !important; }
  }
  .gallery-item { margin-bottom: 30px;
    img { width: 100%; }
  }
  .has-animation { visibility: visible !important; }

  .member {
    .photo {
      .member-photo {
        img { top: -20px !important; width: 100%; }
      }
    }
  }

  .navigation { opacity: 1 !important;
    &:after { height: 90px; top: -70px !important; }
    .navbar {
      .navbar-brand { max-width: 100%; }
      .navbar-nav {
        li {
          a { font-size: 12px; }
        }
      }
    }
  }
  .navbar-collapse { margin-left: -16px !important; margin-right: -16px !important; overflow: hidden; position: relative; z-index: 1;
    .navbar-nav { background-color: #fff; margin: 0 -15px;
      li {
        a { margin-top: 0 !important; padding: 8px !important;
          &:after { display: none !important; }
        }
      }
    }
  }
  .navigation-pills { display: block !important; float: none !important; margin-bottom: 10px; margin-top: 0 !important;
    .nav-pills {
      li { float: none;
        a { margin: 0; padding: 0; }
      }
    }
  }
  .page-title {
    h1 { font-size: 50px !important; top: 50px; }
    .header-background { height: inherit; }
  }
  .slider {
    .parallax-slider { height: 500px !important;
      ul {
        li {
          img {  height: 100%; max-width: inherit !important; width: initial !important;
          }
        }
      }
    }
  }
  .progress-bars {
    .progress-bar-wrapper {
      .percents { font-size: 60px !important; left: 15px; top: 15px; }
    }
  }
  .services {
    .divider { display: none; }
  }
  .sidebar { margin-top: 50px; }
  .sub-page {
    .page-title {
      h1 { font-size: 48px;}
    }
  }
  .tags {
    span { display: block; margin-bottom: 5px; }
  }
  .testimonial { text-align: center;
    .photo { float: none; margin: 0 auto; margin-bottom: 20px; }
  }
}