.bxslider { margin-top: 30px; }
.bx-wrapper {
  .bx-viewport { @include box-shadow(none); background: none; border: none; left: 0; }
  .bx-pager { bottom: -60px; margin-bottom: 20px; }
}
.testimonials-slider {
  .bx-pager-link { background-color: #fff; }
}

.dark-background {
  .bx-pager-link { background-color: #fff !important;
    &.active { background-color: $color-secondary !important; }
  }
  .bx-wrapper {
    .bx-page-item {
      a {
        .bx-pager-link { background-color: red; }
      }
    }
  }
}