@mixin skew-background { @include transform(skew(0deg,-4deg)); top:-70px; position: absolute; width: 100%; z-index: -1; }
@mixin skew-image { @include transform(skew(0deg,4deg)); }
@mixin simple-line-icons { @include text-shadow(none); -webkit-font-smoothing: antialiased; font-family: 'Simple-Line-Icons'; speak: none; font-weight: normal; font-variant: normal; line-height: 1; text-transform: none; }
@mixin elegant-font { @include text-shadow(none); -webkit-font-smoothing: antialiased; font-family: 'ElegantIcons'; speak: none; font-weight: normal; font-variant: normal; line-height: 1; text-transform: none; }

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}


@mixin animation-name($name) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -ms-animation-name: $name;
  animation-name: $name;
}

@mixin animation-duration($name) {
  -webkit-animation-duration: $name;
  -moz-animation-duration: $name;
  -ms-animation-duration: $name;
  animation-duration: $name;
}